html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

#all {
    padding: 4rem;
    min-height: 200vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80vh auto 20vh;
    grid-template-areas:
        "intro intro form form"
        "main main main main"
        "footer footer footer footer"
    ;
    gap: 1.5rem;
    background-color: #0b1c48;
}

#all>* {
    border-radius: 0.5rem;
    border: 3px solid black;
    padding: 2rem;
}

#intro {
    grid-area: intro;
    background-color: #c9595f;

}

#intro>h1 {
    font-size: 3.5rem;
}

#intro>p {
    font-size: 1.5rem;
}

#form {
    grid-area: form;
    background-color: #372f2f;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #f5f5f5;
}

input[type="text"] {
    font-size: 1.4rem;
}

#form>div {
    display: flex;
    height: 2.5rem;

}

#form>div>label {
    flex: 1;
    text-align: center;
}

#form>div>input, select {
    flex: 2;
}

#form>h2 {
    font-size: 2rem;
    text-align: center;
}

#form>div:last-child {
    justify-content: center;
}

#form>div>button {
    width: 70%;
    font-size: 1.4rem;
    height: 3rem;
    font-weight: bold;
    border-radius: 1rem;
}

#main {
    grid-area: main;
    background-color: #fbce3a;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    gap: 0.5rem;

}

#main>* {
    padding: 1rem 0;
    text-align: center;
    flex: 0 1 23%;
    border: 3px solid black;
    border-radius: 4px;
    font-size: 1.3rem;
    background-color: white;
    font-weight: 500;

}

#footer {
    grid-area: footer;
    background-color: #e0d0b8;
    text-align: center;
    color: black;
}

#footer>p {
    font-size: 1.2rem;
    font-weight: bold;
}